/* CSS declarations go here */

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

li:first-child {
    font-weight: bold;
    font-size: 40px;
}

body{
    color: #fc6;
    background-color: #c72;
    background-image: url("http://www.htmldog.com/examples/images/bg.gif");
    font-size: 20px;
    margin: 0;
}

article{
    width: 480px;
    padding: 20px;
    margin: auto;
    background-color: rgba(0, 0, 0, .2);
}

a{
    color:white;
}

h1,#htlmdog{
    text-align: center;
}

